
<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
  <div class="container">
    <a class="navbar-brand" href="#">Assignment</a>
    <button class="navbar-toggler collapsed " type="button" data-toggle="collapse" data-target="#Navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse collapse" id="Navbar">
      <ul class="navbar-nav text-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet> 
